.student-form{
    width: 100%;
    padding: 2px;
}


.mat-form-field{
width: 100%;
margin-bottom: 4px;
}
.female{
    margin-left: 4px;;
}
.gender-error{
    font-size: 10px;
    margin-left: 13px;
    opacity: 1;
    transform: translateY(0%);
}